
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}


.container
{
    /* Padding is not working. To check with Divya */
    padding-left: 1 rem;
    padding-right: 1 rem; 
    /* background-color: red; backgroup color works but padding is not working */
}










 